.THIS.grey {
    background-color: grey;
}

.THIS.red {
    background-color: green;
    
}
 
.THIS.white {
    background-color: white;
}
 
.THIS .gold {
    background-color: gold;
}
 
.THIS .skyblue {
    background-color: skyblue;
}
 
.THIS .yellow {
    background-color: yellow;
}